body {
  background-color: skyblue;
}

h1 {
  color: red;
}

#gameSelection a:visited {
 text-decoration: none; color:black;
}
#gameSelection a:hover {
 text-decoration: none; color:black;
}
#gameSelection a:focus {
 text-decoration: none; color:black;
}
#gameSelection a:hover, a:active {
 text-decoration: none; color:black;
}
#gameSelection table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#gameSelection table, #gameSelection th, #gameSelection tr, #gameSelection td{
  border: 1px solid black;
  text-align: center;
}

#top-game1 table, #top-game1 th, #top-game1 tr, #top-game1 td{
  border: 1px solid black;
  text-align: center;
}
#top-game2 table, #top-game2 th, #top-game2 tr, #top-game2 td{
  border: 1px solid black;
  text-align: center;
}
#top-game3 table, #top-game3 th, #top-game3 tr, #top-game3 td{
  border: 1px solid black;
  text-align: center;
}

#headerHeader {
  padding: 3px;
}

#headerNav {
  display: inline;
  padding: 8px 0px;
  background-color: orange;
  color: black;
  border: 1px solid black;
}

#headerNav a {
  display: inline;
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-right: 1px solid black;
}

#headerNav a:last-child {
  border-right: 0px;
}

#headerNav a:hover {
  color: red;
}

#motd {
  background-color: #1877F2;
  padding-left: 10px;
  border: 2px solid black;
}
